body {
  background-color: #555555 !important;
}
.App {
  text-align: center;
}
.App .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  background-color: #333333;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
header a {
  color: white;
}
ul {
  display: flex;
  justify-content: flex-end;
}
ul li {
  margin: 10px;
}
.card {
  color: dodgerblue;
}
.card header {
  background-color: rgba(0, 0, 0, 0.1);
}
.form-wrapper p {
  color: red;
  font-size: 1rem;
}
